{% extends "base.html.twig" %}



{% block h4 %}Modification {{ oeuvre.titre|capitalize }} {% endblock %}

{% block body %}

    


    <a class="btn btn-dark my-3" href="{{ path('app_admin_oeuvre_index') }}">Retour</a>


    {# {% include "_flashes.html.twig" %} #}
<div class="Edit">
    <div class="col-md-6 mx-auto" id="edit2" >
        {{ form_start(form) }}

            <div class="row">

                <div class="col-md-6">
                    {{ form_row(form.titre) }}
                </div>

                 <div class="col-md-6">
                   {{ form_row(form.stock) }}
                 </div>

                <div class="col-md-6">
                    {{ form_row(form.prix) }}
                </div>
                  <div class="col-md-6">
                    {{ form_row(form.matieres) }}
                </div>

            </div>

            <div class="row">
                  <div class="col-md-6">
                    {{ form_row(form.categorie) }}
                  </div>

                  <div class="col-md-6">
                    {{ form_row(form.description) }}
                  </div>

                  <div class="col-md-6">
                    {{ form_row(form.dimention) }}
                  </div>

            </div>
    
  </div>


   
        <div class="imageEdit">
            {{ form_row(form.imageUpdate) }}
            <div id="zone" class="text-center">

                 {% if oeuvre.image %}
                    <img src="{{ asset('images/oeuvre/' ~ oeuvre.image) }}" alt="" class="img300"> 
                    {# <a href="{{ path('produit_image_supprimer', {'id' : oeuvre.id })  }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette image ?');"> 
                    </a> #}
                        <i class="text-danger" data-feather="trash-2"></i> 
                {% endif %} 
            </div>
        </div>
</div>
     <div class="col-md-6 mx-auto" >
            <input type="submit" value="Modifier" class="btn btn-info col-12 mt-3">
    </div>
        {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
 

    <script>

        $('#oeuvres_matieres').select2({
            placeholder: 'Sélectionner une matière'
        });


     let zone = document.getElementById('zone')
 function loadFile(event)
 {
     console.log("test");

       $("#zone").html("");
    let image = document.createElement("img");
    image.setAttribute("src", URL.createObjectURL(event.target.files[0]) );
    image.setAttribute("class", "img300" );

     zone.append(image);


 }
        
    </script>
{% endblock %}