{% extends 'base.html.twig' %}

{% block title %}Oeuvres{% endblock %}

{% block body %}
    <h1>Oeuvres</h1>

    <div style="height:100%">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oeuvre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ oeuvre.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ oeuvre.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ oeuvre.image }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ oeuvre.stock }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ oeuvre.description }}</td>
            </tr>
            <tr>
                <th>matiere</th>
               
                        <td>
                        
                            {% if oeuvre.matieres|length > 0 %}
                                {% for matieres in oeuvre.matieres %}
                                    {{ matieres.nom|capitalize }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="text-danger fst-italic">N.R</span>
                            {% endif %}
                        
                        </td>
            </tr>
             <tr>
                <th>dimention</th>
                <td>{{ oeuvre.dimention }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_admin_oeuvre_index') }}">back to list</a>

    <a href="{{ path('app_admin_oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>

    {{ include('admin_oeuvre/_delete_form.html.twig') }}
</div>
{% endblock %}
