<nav>

   <div class="nav">
       <div class="nav1">
          <h1 ><a href="{{path('acceuil')}}" class="facundo" > facundo varas </a></h1>
          <h2 class="colorRed"> <i>art work</i></h2>
       </div>
   <div class="deco">
       
   </div>
 
       {% if app.user %}
         <div class="bdd">
     
            <div class="nameUser colorRed"> 
               {% if is_granted('ROLE_ADMIN') %}
                   BackOffice
                {% endif %}
              <a href="{{path('app_profil')}} "> {{app.user.prenom}} profil </a>
            </div>

            <div class="panierDeconnect">
            
           
             <div class="deconnection">
                  <a href="{{ path('app_logout') }}">déconnexion</a>
             </div> 
               <div class="panierImg">
                   <a href="{{path('app_panier')}} "><img src="{{asset('images/oeuvre/panier3.png')}}" alt="" class="panierImg2"></a>
             </div>
         </div>
            
           {% else %}
             
           <div class="connection">
            

             <div class="connectInscript">

                 <div class="connection1">  
                     <a href="{{ path('app_login') }}">connexion</a> 
                 </div>
                   /
                 <div class="connection2">
                    <a href="{{path('app_register')}} ">inscription</a> 
                </div>
                <div class="panierImg">
                <a href="{{path('app_panier')}} "><img src="{{asset('images/oeuvre/panier3.png')}}" alt="" class="panierImg2"></a>
             </div>
              </div>\

          </div>
       </div>     
           
         {% endif %}
         
   </div>
     
</div>
  
  
  
  
   

<a id="link" href="#"><span id="burger1"></span></a>

    <div class="menu" >
      	  <span><a href="{{path('acceuil')}}" > accueil </a></span>
          <span><a href="{{path('peinture')}}" > peinture </a></span>
          <span><a href="{{path('artDigital')}}" > art digital</a> </span>
          <span><a href="{{path('app_form_contact')}} "> contact</a> </span>
          <span><a href="{{path('acceuil',{'_fragment':"ancre"} )}}" >a propos</a> </span>
         
         
       {% if app.user  %}
               <span><a href="{{path('commande')}}">commandes</a> </span>
       {% endif %}
       {% if is_granted('ROLE_ADMIN') %}
          <div class="menuback"style="z-index: 3000;" >
               {% include "menuDeroulantBack.html.twig" %}
          </div>
               
        
    </div>
      
      
      {% endif %}


</nav>

{% block javascripts %}
        
       
            {{ encore_entry_script_tags('app') }}
            <script>

             let link = document.getElementById('link')
             let burger = document.getElementById('burger1')
             let menu = document.querySelector('.menu')
  
             link.addEventListener('click', function(e) {
                e.preventDefault()
             burger.classList.toggle('open')
             menu.classList.toggle('responsive')
             })
                /* gestionnaire d'événement sur le a#link pour venir changer l'attribution de la classe .open à la ul et au span#burger */
            
            </script>

           
        
           
           
          
        {% endblock %}

